body{
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 30px;
}

h1{
    background: linear-gradient(135deg,#06b6d4,#3b82f6);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    margin: 50px auto 25px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

img{
    display: block;
    max-width: 95%;
    margin: 20px auto;
    border-radius: 12px;
    border: 2px solid #334155;
    box-shadow: 0 8px 25px rgba(0,0,0,.4);
    transition: 0.3s;
}

img:hover{
    transform: scale(1.02);
}

html{
    scroll-behavior: smooth;
}

/* Floating Back Button */
.top-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #06b6d4;
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 50px;
    font-weight: bold;
}

.top-btn:hover{
    background: #0891b2;
}

@media(max-width:768px){

    body{
        padding: 10px;
    }

    h1{
        width: 95%;
        font-size: 22px;
    }

    img{
        max-width: 100%;
    }
}